h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  border-radius: 25%;
  background-color: black;
}

.ghost {
  background-color: gray;
}

.normal {
  background-color: red;
}

@keyframes special {
  0% {
    background-color: green;
    border-radius: 50%;
  }
  100% {
    background-color: green;
    border-radius: 50%;
    box-shadow: 0 0 0 4px green;
  }
}

.special {
  background-color: green;
  border-radius: 50%;
  box-shadow: 0 0 0 4px green;
}

#score {
  width : 1100px;
  text-align: right;
}